@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
}
html {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  max-height: 800px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.gradient-background {
  background: linear-gradient(300deg, rgb(201, 201, 201), rgb(100, 100, 100), rgb(46, 46, 46));
  background-size: 200% 200%;
  min-height: 100vh;
  width: 100%;
  animation: colors 9s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
